{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/babel",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react"],
  "rules": {
    "max-len": [
      1,
      120,
      2,
      {
        "ignoreComments": true
      }
    ],
    "react/prop-types": [2]
  }
}
