root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_style = space
indent_size = 2
max_line_length = 100

[*.jsx]
indent_style = space
indent_size = 2
max_line_length = 100


[*.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.scss]
end_of_line = lf
indent_size = 2
indent_style = space

[*.css]
end_of_line = lf
indent_size = 2
indent_style = space

[*.sql]
end_of_line = lf
indent_size = 2
indent_style = space
